<footer class="page-footer repositorio" id="page-footer">
    <div class="content-container">
      <ul class="footer-box">
        <li class="title"><h4>Assuntos</h4></li>
        <li class="item">
          <a href="http://www.agricultura.gov.br/" target="blank">Agropecuária</a>
        </li>
        <li class="item">
          <a href="http://www.cultura.gov.br/scdc/" target="blank">Cidadania</a>
        </li>
        <li class="item">
          <a href="http://www.mct.gov.br/" target="blank">Ciência e Tecnologia</a>
        </li>
        <li class="item">
          <a href="http://www.mc.gov.br/" target="blank">Comunicações</a>
        </li>
        <li class="item">
          <a href="http://www.cultura.gov.br/" target="blank">Cultura</a>
        </li>
        <li class="item">
          <a href="http://www.fazenda.gov.br/" target="blank">Economia</a>
        </li>
        <li class="item">
          <a href="http://www.mec.gov.br/" target="blank">Educação</a>
        </li>
        <li class="item">
          <a href="http://www.mme.gov.br/" target="blank">Energia</a>
        </li>
        <li class="item">
          <a href="http://www.senado.gov.br/noticias/Jornal/emdiscussao/dependencia-quimica/iniciativas-do-governo-no-combate-as-drogas/plano-de-enfrentamento-ao-crack-tem-orcamento-modesto.aspx" target="blank">Enfrentamento às drogas</a>
        </li>
        <li class="item">
          <a href="http://www.esporte.gov.br/" target="blank">Esporte</a>
        </li>
      </ul>
      <ul class="footer-box">
        <li class="title"><h4>Sobre</h4></li>
        <li class="item">
          <a href="/missao-visao.html">Missão e visão</a>
        </li>
        <li class="item">
          <a href="/equipe.html">Equipe</a>
        </li>
      </ul>

      <ul class="footer-box">
        <li class="title"><h4>Fale com nossa equipe</h4></li>
        <li class="item">repositoriodigital@ifpb.edu.br</li>
      </ul>

      <ul class="footer-box">
        <li class="title"><h4>Redes Sociais</h4></li>
        <li class="item">
          <a href="https://pt-br.facebook.com/pages/IFPB-Oficial/261855270518349" target="blank">Facebook</a>
        </li>
        <li class="item">
          <a href="https://twitter.com/ifpboficial" target="blank">Twitter</a>
        </li>
        <li class="item">
          <a href="https://www.youtube.com/user/TVIFPB">Youtube</a>
        </li>
        <li class="item">
          <a href="" target="blank">Flickr</a>
        </li>
        <li class="item">
          <ul class="footer-box">
            <li class="title"><h4>Mapa do site</h4></li>
          </ul>
        </li>
        <li class="item">
          <ul class="footer-box">
            <li class="title"><h4>RSS</h4></li>
            <li class="item">o que é RSS?</li>
            <li class="item">Assine o nosso RSS</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sub-footer">
      <div class="content-container">
        <div class="left">
          <img src="assets/images/acesso-a-informacao.png" alt="">
        </div>
        <div class="right">
          <img src="assets/images/brasil.png" alt="">
        </div>
      </div>
    </div>
    <div class="content-container">
      <p><a href="http://www.dspace.org/">DSpace software</a>  copyright © 2022-...</p>
    </div>
  </footer>
