<main class="page-container" style="font-size: 11pt;">

  <div class="government-bar repositorio">
    <div class="content-container">
      <a href="http://brasil.gov.br/" class="brazil-flag mid-1">Brasil</a>
      <a href="http://brasil.gov.br/barra#acesso-informacao" class="mid-7">Acesso à informação</a>
      <a href="http://brasil.gov.br/barra#participe" class="mid-1">Participe</a>
      <a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" class="mid-1">Serviços</a>
      <a href="http://www.planalto.gov.br/legislacao" class="mid-1">Legislação</a>
      <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" class="mid-1">Canais</a>
    </div>
  </div>

  <header class="page-header repositorio">
    <div class="content-container">

      <!-- barra de idiomas -->
      <div class="language-bar">
        <ul class="link-list">
          <li><a class="pd" href="#">Acessibilidade</a></li>
          <li><a class="pd" href="#">Contraste</a></li>
          <li><a class="pd" href="#">Mapa do site</a></li>
        </ul>
        <ul class="link-list">
          <li><a class="pd" href="/?locale=pt_BR">Português</a></li>
          <li><a class="pd" href="/?locale=en">English</a></li>
          <li><a class="pd" href="/?locale=es">Español</a></li>
        </ul>
      </div>

      <!-- page logo -->
      <div class="center-content">
        <a href="/">
          <div class="header-logo">
            <h1 class="page-name default">Repositório Digital</h1>
            <span>Instituto Federal de educação, ciência e Tecnologia da Paraíba</span>
          </div>
        </a>
      </div>

      <!-- social media -->
      <!-- <div class="media-container">
        <a href="https://www.youtube.com/user/TVIFPB" target="blank">
          <div class="social youtube"></div>
        </a>
        <a href="https://twitter.com/ifpboficial" target="blank">
          <div class="social twitter"></div>
        </a>
        <a href="https://pt-br.facebook.com/pages/IFPB-Oficial/261855270518349" target="blank">
          <div class="social facebook"></div>
        </a>
      </div>-->
    </div>

    <!-- actions-bar login/logout-->
    <div class="actions-bar">
      <div class="content-container">
        <div class="mid-5">
          <ul class="list-menu">
            <li class="item">
              <a href="/equipe">Equipe</a>
            </li>
            <li class="item">
              <a href="/missao-visao">Missão e Visão</a>
            </li>
            <li class="item">
              <a href="#">Informações ao usuário</a>
            </li>
            <li class="item">
              <a href="#page-footer">Contato</a>
            </li>
          </ul>
        </div>




        <div class="mid-8">

          <form class="form-control form-login" name="loginform" id="loginform" method="post" action="/password-login">
            <label for="tlogin_email">Login:
              <input type="text" name="login_email" id="tlogin_email" tabindex="1">
            </label>
            <label for="tlogin_password">Senha:
              <input type="password" name="login_password" id="tlogin_password" tabindex="2">
            </label>
            <button class="btn btn-submit">Entrar</button>
          </form>

        </div>
      </div>
    </div>

  </header>




























































