* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-breadcrumb {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 8pt;
}

@media (min-width: 768px) {
  .main-content-block {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .content-container {
    width: 960px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .content-container {
    width: 960px;
    padding: 0 15px;
  }
}

.content-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: 0 15px;
}

.page-banners {
  width: 100%;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .mid-3 {
    width: 25%;
    float: left;
  }
}

@media (max-width: 768px) {
  .xs-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-top: 0.83333%;
    padding-bottom: 0.83333%;
  }
}

@media (min-width: 768px) {
  .mid-4 {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-top: 0.83333%;
    padding-bottom: 0.83333%;
  }
}

@media (min-width: 768px) {
  .mid-6 {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

.mid-6 img {
  padding-top: 0.83333%;
}

@media (max-width: 768px) {
  .xs-hide {
    display: none;
  }
}

@media (min-width: 768px) {
  .mid-9 {
    width: 75%;
    float: left;
  }
}

@media (min-width: 768px) {
  .mid-12 {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: #edeff1;
    border-top: 5px solid #00520f;
  }
}

.mid-12 {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: #edeff1;
  border-top: 5px solid #00520f;
}

.element-box {
  padding: 0%;
  color: #00520f;
  padding-right: 10px;
}

.header-box {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 55px;
  font-size: 22pt;
  font-weight: lighter;
  text-transform: none;
}

.form-custom-search {
  align-items: baseline;
  font-size: 12pt;
  color: #000;
  padding: 10px;
  display: block;
}

.input-control {
  width: 90%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  display: block;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: 1px solid #d6dcd7;
  height: 33px;
}

.button-search {
  width: 10%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border: 1px solid #d6dcd7;
  border-left: 0;
  display: block;
  margin: 0;
  background: #fff;
  border-radius: 0 5px 5px 0;
  height: 33px;
}

.button-search mat-icon {
  width: 100%;
  color: #00520f;
  float: left;
}

.item {
  display: inline-block;
  border-left: 1px solid #d6dcd7;
  font-weight: lighter;
}

.community-active {
  display: block;
  padding: 15px;
  background: #1a8a43;
}

a {
  color: #00520f;
  text-decoration: none;
}

.community-icons img {
  display: block;
  margin: 0;
}

.img-responsible {
  max-width: 100%;
}

img {
  border: 0;
}
