<div style="padding-left: 10%; padding-right: 10%; font-size: 11pt">
  <div class="page-breadcrumb">
    <div class="content-container">
      <span>
        Você está aqui:
        <a href> IFPB - Reposotório Digital </a>
      </span>
    </div>
  </div>

  <div class="page-banners">
    <div class="mid-3">
      <a href="http://ifpb.edu.br/">
        <img
          class="img-responsible"
          src="https://repositorio.ifpb.edu.br/static/images/ifpb.png"
          alt="IFPB"
        />
      </a>
    </div>
    <div class="mid-9">
      <a href="/">
        <img
          class="img-responsible"
          src="https://repositorio.ifpb.edu.br/static/images/banner_periodicos_site.png"
          alt=""
        />
      </a>
    </div>
  </div>

  <!-- Caixa de pesquisa -->
  <div class="mid-12">
    <div class="element-box">
      <div class="header-box">Pesquisa</div>
      <form action="" class="form-custom-search">
        <input
          type="text"
          class="input-control"
          placeholder="Buscar no diretório"
          size="25"
        />
        <ul class="list-input-custom">
          <li class="item">
            <input type="submit" class="button-search" />
          </li>
        </ul>
      </form>
    </div>
  </div>

  <!-- Comunidades -->
  <div class="mid-6">
    <div class="comunnity-icons">
      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/arquivo.png"
            alt=""
          />
        </a>
      </div>

      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/producao-cientifica.png"
            alt=""
          />
        </a>
      </div>

      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/teses-e-dissertacoes.png"
            alt=""
          />
        </a>
      </div>

      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/trabalhos-academicos-e-tecnicos.png"
            alt=""
          />
        </a>
      </div>

      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/propriedade.png"
            alt=""
          />
        </a>
      </div>

      <div class="mid-4">
        <a class="community-active" href="">
          <img
            class="img-responsible"
            src="https://repositorio.ifpb.edu.br/static/images/icons/periodicos.png"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Slide -->
  <div class="mid-6">
    <div>
      <img
        class="img-responsible"
        src="https://repositorio.ifpb.edu.br/static/images/inauguracao.jpg"
        alt=""
      />
    </div>
  </div>
</div>
